<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression">
<test name="Reg Test">
<parameter name="username" value="1234"></parameter>
<parameter name="password" value="1234"></parameter>
<classes>
<class name="testngparam.TestParam"></class>


</classes>






</test>


</suite>